<%= render 'shared/nav' %>

<div class="container">
  <div class="row align-items-center">
    <div class="col"><%= image_tag @profile.picture %></div>
    <div class="col">
      <h1>Hello World!</h1>
      <p><%= @profile.resume %></p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col my-2">
      <h2>My Road</h2>
      <p><%= @profile.career_path %></p>
    </div>
    <div class="col my-2">
      <%= render partial: "tag", collection: @profile.all_tags %>
    </div>
  </div>

  <div class="row my-5 pb-5">
    <div class="col">
      <div class="row my-5">
        <div class="col text-center">
          <h3>Main Projects</h3>
        </div>
      </div>
      <div class="cards row my-5">
          <%= render partial: 'shared/project_item', collection:
          @profile.projects %>
      </div>
    </div>
  </div>

  <div class="row my-5 px-5 border border-dark align-items-center" id="contact">
    <%= render partial: 'contact', locals: {contact: @contact} %>
  </div>

  <div class="social-div">
    <% @profile.links.each do |link| %>
    <div class="row py-2">
      <a href="<%= link.link %>"><%= link.link_type.icon.html_safe %></a>
    </div>
    <% end %>
  </div>
</div>
