
<%= render partial: 'shared/nav', layout: 'layouts/nav_light_layout' %>


<div class="container my-5 pt-3">
  <% flash.each do |key, messages| %>
    <% if messages.instance_of? String %>
      <% messages = [messages] %>
      <% key = "info" %>
    <% end %>

    <% messages.each do |message| %>
    <div class="alert alert-<%= key %> alert-dismissible fade show">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %> 
  <% end %>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col"><%= image_tag @profile.picture_url %></div>
    <div class="col">
      <h1>Hello World!</h1>
      <p><%= @profile.resume %></p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col my-2">
      <h2>Minha Carreira</h2>
      <p><%= @profile.career_path %></p>
    </div>
    <div class="col my-2">
      <%= render partial: "shared/tag", collection: @profile.all_tags, locals:
      {_classes: "custom-badge custom-badge-info custom-badge-outlined
      tag-profiles m-2"} %>
    </div>
  </div>

  <div class="row my-5 pb-5">
    <div class="col">
      <div class="row my-5">
        <div class="col text-center">
          <h3>Principais Projetos</h3>
        </div>
      </div>
      <div class="cards my-5">
        <div class="row">
          <%= render partial: 'shared/project_item', collection: @profile.projects
          %>
        </div>
        
      </div>
    </div>
  </div>

  <div class="row my-5 px-5 border border-dark align-items-center" id="contact">
    <%= render partial: 'contact', locals: {contact: @contact} %>
  </div>

  <div class="social-div">
    <%= render partial: 'shared/link', collection: @profile.links %>
  </div>
</div>

<%= javascript_pack_tag 'projects' %>
