<div class="col">
  <div href="" class="custom-card">
    <div class="row image-hover">
      <!-- <%= image_tag project_img(project_item.thumb_image, "thumb"),
      width:'100%', class: "card__image" %> -->
      <img
        class="card__image"
        src="http://trumpwallpapers.com/wp-content/uploads/Vaporwave-Wallpaper-28-1980-x-720.jpg"
        width="400"
        height="250"
      />
      <div class="container card__image-buttons">
        <div class="row justify-content-end">
          <a
            class="resume-button rounded-circle"
            role="button"
            data-toggle="modal"
            data-target="#resume<%= project_item.id %>"
          > 
            <i class="fas fa-eye"></i>
          </a>
        </div>
        <div class="row justify-content-center">
          <%= link_to "Read More", project_path(project_item.id), class: "btn
          btn-outline-dark btn-lg" %>
        </div>
      </div>
    </div>
    <div class="description-hover">
      <div class="card__overlay">
        <div class="card__header">
          <div class="card__header-text">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="card__title"><%= project_item.title %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="card__description"><%= project_item.description %></p>
        </div>
        <div class="row justify-content-center mb-4">
          <a class="demo-btn btn btn-primary btn-sm px-3" href="#">demo</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resume<%= project_item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resume</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= project_item.resume_card %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to "Read More", project_path(project_item.id), class: "btn
          btn-primary" %>
      </div>
    </div>
  </div>
</div>
