<div class="col-4 my-4">
  <div href="" class="custom-card">
    <div class="row image-hover">
        <%= image_tag project_img(project_item.thumb_image, "thumb"), width: 400,
        height: 250, class: "card__image static" %>
        <%= image_tag project_img(project_item.main_image, "thumb"), width: 400,
        height: 250, class: "card__image animated" %>

      <div class="container card__image-buttons">
        <div class="row justify-content-end">
          <a
            class="resume-button rounded-circle"
            role="button"
            data-toggle="modal"
            data-target="#resume<%= project_item.id %>"
          >
            <%= icon("fas", "eye") %>
          </a>
        </div>
        <div class="row justify-content-center">
          <%= link_to "Read More", project_path(project_item.id), class: "btn
          btn-outline-dark btn-lg" %>
        </div>
      </div>
    </div>
    <div class="description-hover">
      <div class="card__overlay">
        <div class="row card__header">
          <div class="card__header-text">
            <h3 class="card__title"><%= project_item.title %></h3>
            <span class="card__tagline">
              <%= render partial: "shared/tag", collection:
              project_item.technologies[0..4], locals: {_classes: "badge
              badge-pill badge-info"} %>
            </span>
          </div>
        </div>
        <div class="row">
          <p class="card__description"><%= project_item.description %></p>
        </div>
        <% if project_item.demo_link %>
        <div class="row justify-content-center mb-4">
          <%= link_to "demo", project_item.demo_link.link, target: :_blank, class:
          "demo-btn btn btn-info btn-sm px-3" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="resume<%= project_item.id %>"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resume</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <%= render partial: "shared/tag", collection: project_item.all_tags,
          locals: {_classes: "badge badge-pill badge-info m-2"} %>
        </div>
        <hr />
        <div id="markdown" class="row p-3"><%= markdown project_item.resume_card %></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <%= link_to "Read More", project_path(project_item.id), class: "btn
        btn-info" %>
      </div>
    </div>
  </div>
</div>
