<%= render partial: 'shared/nav', layout: 'layouts/nav_dark_layout' %>

<div class="project-show container-fluid mt-5 pt-3 px-0 mx-0">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 mx-0">
      <div class="cards mx-0">
        <div id="project-article" class="card mx-0">
          <div class="card-header pl-5">
            <div class="row pl-2">
              <h1 class="card-title"><%= @project.title %></h1>
            </div>
            <div class="row pl-2">
              <span class="card-subtitle mb-2 text-muted description"
                ><%= @project.description %></span
              >
            </div>
            <div class="row">
              <%= render partial: "shared/tag", collection: @project.all_tags,
              locals: {_classes: "custom-badge custom-badge-info
              custom-badge-outlined badge-pill m-2"} %>
            </div>
          </div>
          <div class="card-body ml-3 mb-4">
            <div class="card-text">
              <div class="row mb-5">
                <%= image_tag project_img(@project.gif_image_url, "main"), width:
                800, height: 450, class: "card-img" %>
              </div>
              <div id="markdown" class="">
                <p><%= markdown @project.body %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
  </div>

  </div>
  <div class="social-div">
    <%= render partial: 'shared/link', collection: @project.links %>
  </div>
</div>
